<h1>Confirm Your Email</h1>
<a
    style="
        background-color: #219ebc;
        font-size: 1rem;
        padding: 0.375rem 0.75rem;
        border: 1px solid transparent;
        border-color: #219ebc;
        border-radius: 0.25rem;
        cursor: pointer;
        text-decoration: none;
        color: black;
    "
    href="<%= confirmEmailURL %>"
>
    Confirm Email
</a>
<h3>Click the button above to confirm your email.</h3>
<p>Thank you for creating an account with us!</p>
<p>If you did not create an account with us please ignore this email.</p>
<p>If the button above does not work you can copy and paste this url.</p>
<p><%= confirmEmailURL %></p>
