<h1>Password Changed</h1>
<p>Your password has been changed!</p>
<p>
    If you did not authorize this, request a new password immediately! Make sure
    to change your email's password as well.
</p>
<p>If you just changed your password you can safely ignore this email.</p>
<p>
    Request a new password here:
    <a style="color: #023047" href="<%= passwordResetURL %>"
        ><%= passwordResetURL %></a
    >
</p>
