<!DOCTYPE html>
<html lang="en" style="height: 100%; width: 100%; margin: 0; padding: 0">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body style="height: 100%; width: 100%; margin: 0; padding: 0">
        <div style="height: 100%; width: 100%">
            <header
                style="
                    background-color: #023047;
                    width: 100%;
                    height: 10%;
                    color: #8ecae6;
                    font-weight: bold;
                    text-align: center;
                "
            >
                <h1 style="padding-top: 25px; margin: 0">
                    <%= PROVIDER_TYPE %> Providers
                </h1>
            </header>
            <div style="background-color: #8ecae6; width: 100%; height: 80%">
                <div style="width: 100%; height: 100%">
                    <div style="padding: 20%"><%- include(page); %></div>
                </div>
            </div>
            <footer
                style="
                    background-color: #023047;
                    width: 100%;
                    height: 10%;
                    color: #8ecae6;
                    font-weight: bold;
                    text-align: center;
                "
            >
                <p style="padding-top: 25px; margin: 0">
                    Do not reply to this email. Contact us at:
                    <a
                        style="color: #8ecae6; text-decoration: none"
                        href="mailto:<%= MAIL_CONTACT_EMAIL %>"
                    >
                        &nbsp;<%= MAIL_CONTACT_EMAIL %>
                    </a>
                </p>
            </footer>
        </div>
    </body>
</html>
