LETS_ENCRYPT_STAGING = false
FITNESS_REPLICA_COUNT = 3
MONGO_VOLUME_SIZE = "10Gi"
MONGO_REPLICA_COUNT = 2
MINIO_VOLUME_SIZE = "10Gi"
MINIO_REPLICA_COUNT = 1 # Must equal 1 or >= 4
LINODE_TOKEN = ""
KUBE_CONFIG_PATH = "~/.kube/config"
CLOUDFLARE_EMAIL = "youremail@gmail.com"
CLOUDFLARE_API_KEY = ""
CLOUDFLARE_ZONE_ID = ""
REGISTRY_SERVER = "https://gitlab.com"
REGISTRY_CONTAINER = "gitlab.com/fitness-providers/fitness-providers:latest"
REGISTRY_EMAIL = ""
REGISTRY_USERNAME = ""
REGISTRY_PASSWORD = ""
DOMAIN = "yourdomain.com"
DEMO = "false"
S3_ACCESS_KEY = ""
S3_SECRET_KEY = ""
MAIL_HOST = "smtp.mailgun.org"
MAIL_PORT = "465"
MAIL_POSTMASTER = "postmaster@yourdomain.com"
MAIL_POSTMASTER_PASSWORD = ""
MAIL_FROM_EMAIL = "noreply@yourdomain.com"
MAIL_CONTACT_EMAIL = "contact@yourdomain.com"
GOOGLE_MAP_API = ""
GOOGLE_PLACE_API = ""
PROVIDER_TYPE = "fitness"
DB_CONNECTION_STRING = "mongodb://<username>:<password>@mongodb-0.mongodb-headless.fitness.svc.cluster.local:27017,mongodb-1.mongodb-headless.fitness.svc.cluster.local:27017/fitness-providers?authSource=admin"
SECRET = ""
REFRESH_TOKEN_SECRET = ""
ACCESS_TOKEN_SECRET = ""
S3_DASHBOARD_ENDPOINT = "minio.yourdomain.com"
S3_ENDPOINT = "image.yourdomain.com"
S3_BUCKET = "fitness"
BASE_URL = "https://yourdomain.com"
API_URL = "/api/v1"
TZ = "America/Detroit"